.tabPanel {
  width: 100%;
}

.tabPanel :global(.rt-BaseTabListTrigger) {
  padding: var(--space-2) 20px;
  font-size: var(--font-size-2);
  font-weight: 500;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s;
}

.tabPanel :global(.rt-BaseTabListTrigger):hover :global(.rt-TabsTriggerInner) {
  background-color: transparent;
  color: var(--accent-9);
}

.tabPanel :global(.rt-BaseTabListTrigger[disabled]) {
  cursor: default;
}

.tabPanel :global(.rt-BaseTabListTrigger[disabled]) :global(.rt-TabsTriggerInner),
.tabPanel :global(.rt-BaseTabListTrigger[disabled]):hover :global(.rt-TabsTriggerInner) {
  color: var(--gray-8);
}

.tabPanel :global(.rt-BaseTabListTrigger[aria-selected="true"]) {
  background: var(--accent-a2);
  color: var(--accent-9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
